body {
    background-color: #C9C3C3;
    margin-left: 28px;
    margin-right: 28px;
    font-family: sans-serif;
}

.logo {
    font-size: 26px;
    font-weight: bold;
    margin-top: 18px;
}

nav {
    display: flex;
    justify-content: space-between;
}

.signup {
    text-decoration: none;
    color: #000000 ;
    margin-right: 20px;
}

.requestbtn {
    padding: 10px 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: #D08D11;
}

.signuprequest {
    margin-top: 18px;
}

hr {
    width:140px;
    background-color: #AAA4A4;
    margin-left: 2px;
}

.sale {
    margin-top: 2px;
    font-size: 12px;
}

.agentlogin {
    margin: auto ;
    background-color: #ffffff;
    padding: 8px 34px;
    border-radius: 16px;
    width: 380px;
}

h1 {
    text-align: center;
    margin-top: 12px;
}

.hey {

    text-align: center;
    font-weight: bold;
    width: 280px;
    margin: auto;
    margin-top: -10px;
}

form {
    margin-top: 28px;
}

input {
    border: 2px solid #D2D2D2;
    border-radius: 10px;
    cursor: pointer;
    height: 40px;
    width: 380px;
    padding-left: 10px;
    box-sizing: border-box;
}

.trouble {
    margin-top: -16px;
}

.orsign  {
    text-align: center;
    margin-top: 24px;
}

.orsign:before, .orsign:after {
    content:'\00a0\00a0\00a0\00a0';
    text-decoration: line-through;
    margin: auto 0.5em;
}

.signinbtn {
    padding: 10px 100px;
    border-radius: 8px;
    width: 380px;
    border: none;
    cursor: pointer;
    background-color: #D08D11;
}

.noacct {
    text-align: center;
}

.request {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.footer {
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    margin-top: 20px;
}

.btn {
    background-color: white;
    font-weight: 600;
    font-size: 16px;
    border: 1.4px solid #D2D2D2;
    padding: 4px 4px;
    margin: 4px;
    border-radius: 4px;
}

a {
    text-decoration: none;
    color: #000000;
}

.optsign {
    display: flex;
    justify-content: center;
    margin-top: -6px;
}